
header {
   background-color: rgb(253, 227, 160);
   padding: 200px 0;
 
}
body {
    background-color: azure;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
   

}
h1 {
    text-align: center;
    font-size: 100px;

}
.caixa {
 position: relative;
 width: 760px;
 margin: auto;
}
